development:
  adapter: mysql2
  database: inmo_development
  encoding: utf8
  user:
  password:

test:
  adapter: mysql2
  database: inmo_test
  encoding: utf8
  user:
  password:

production:
  adapter: mysql2
  database: inmo_production
  encoding: utf8
  user:
  password:
